body {
  font-family: sans-serif;
  background: whitesmoke;
  color: #0a0a0a;
    margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 60px auto 20px;
  background: #ffc107;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #001f4d;
}



.dashboard-container {
  margin-top: 100px auto 20px;/* This adds space ABOVE by 60px*/
  box-shadow:  0 8px 20px rgba(0, 0, 0, 0.2);
  width: fit-content;
  max-width: 800px;
  justify-content: left;
  box-shadow: #ffc107;
  box-sizing: inherit;
  border: 2px solid #ccc;
    border-radius: 0px 20px 0% 0%;
    min-height: 80vh; /* Stretch to 80% of screen height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    
  line-height: 1.8;
  background: ffff8f0;
  padding: 20px;
  box-sizing: border-box;
}


.dropdown {
  position: relative;
  margin-bottom: 20px;
}

.dropdown-content a {
  color: #001f4d;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #ffeb3b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout {
  background: #001f4d;
  color: #ffc107;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
}

